  
@include icomoon('lt-icon', 'fonts/icomoon/icomoon', (
    fb: "\e902",
    tw: "\e90e",
    yt: "\e912",
    in: "\e904",
    search : "\e90c",
    mail: "\e908",
    phone: "\e909",
    load: "\e907", 
    up: "\e910",
    close: "\e901",
    view: "\e911",
    book: "\e900",
    share: "\e90d",
    // fb: "\e901",
    // telegram: "\e904",
    // yt: "\e905",
));



